<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="wrapper">
                <div class="{{alertClass}}" role="alert">{{message}}</div>
                <h2>Change Password</h2>
                <hr>
                <form [formGroup]="forgotPasswordForm" (submit)="onSetPassword()">

                    <div class="form-group">
                        <label>Username</label>
                        <input 
                            type="text" 
                            formControlName="username" 
                            class="form-control" 
                            placeholder="Enter Username"
                            [class.is-invalid]="username?.invalid && username?.touched">
                            <div *ngIf="username?.errors && username?.touched">
                                <small class="text-danger">username is required</small>
                            </div>
                    </div>

                    <div class="form-group">
                        <label>New Password</label>
                        <input 
                            type="password" 
                            formControlName="password" 
                            class="form-control" 
                            placeholder=""
                            [class.is-invalid]="password?.invalid && password?.touched">
                            <div *ngIf="password?.errors && password?.touched">
                                <small class="text-danger" *ngIf="password?.errors?.['required']">This field is required</small>
                                <small class="text-danger" *ngIf="password?.errors?.['minlength']">password must be 6 characters long</small>
                            </div>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input 
                            type="password" 
                            formControlName="confirmPassword" 
                            class="form-control" 
                            placeholder=""
                            [class.is-invalid]="confirmPassword?.invalid && confirmPassword?.touched">
                            <div *ngIf="password?.errors && password?.touched">
                                <small class="text-danger" *ngIf="confirmPassword?.errors?.['required']">password is required</small>
                                <small class="text-danger" *ngIf="confirmPassword?.errors?.['minlength']">password must be 6 characters long</small>
                                <!-- <small class="text-danger" *ngIf="confirmPassword?==password?>Please enter a valid password</small> -->
                            </div>
        
                    </div>

                    <input type="submit"
                           value="reset password"
                           class="btn btn-primary btn-block"
                           [disabled] ="forgotPasswordForm.invalid">
                </form>
                <br>
                
                <p class="text-center">New User? <a href="http://localhost:4200/register">Click Here</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>